<?xml version="1.0"?>
<configuration>

  <location path="Manage.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <appSettings>
    <add key="EmployeeServiceUrl" value="http://localhost:53412/EmployeeService.svc/"/>
    <add key="EmployeeManagementServiceUrl" value="http://localhost:53412/EmployeeManagementService.svc/"/>
  </appSettings>
</configuration>
