<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="factors_1" value="TDD.FactorEvaluators.StopFactorEvaluator,TDD.FactorEvaluators|0.3"/>
    <add key="factors_2" value="TDD.FactorEvaluators.NightFlightFactorEvaluator,TDD.FactorEvaluators|0.5"/>
  </appSettings>
</configuration>